<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xmatters.android.racebuddy"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name" android:name=".RaceBuddyApplication">
        <activity android:name=".activity.RaceActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PrefsActivity"
                      android:label="@string/prefs" />
        <service android:name=".utility.UpdaterService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
